
@use "styles/base" as baseStyles;

.App {
  &-content{
    padding: 1rem 4rem;
    h3{
      color: baseStyles.$secondary-color;
    }
    p{
      color: baseStyles.$secondary-color;
     @apply text-sm font-medium;
    }
    .bye-bye{
      margin: 4rem 0 0;
      text-align: center;
      background: baseStyles.$terciary-color;
      border: 1px solid #ddd;
      color: #ababab;
      padding: 1rem;
      border-radius: 4px;
    }
  }

  .triangle-container {
    position: relative;
  }

  .triangle-container::after {
    content: '';
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid baseStyles.$white;
  }
}
